<% if @produtos.size > 0 %>

<h1> Filtro de Produtos </h1>

<h2> Procurando por '<%= @termo %>' </h2>

<% else %>

  <%= flash[:info] = "Não há nenhum produto com o critério de busca "+ @termo %>
 
<% end %>

<%= render :partial => 'itens_procurar' %>
