/* Folha de Estilos do Projeto FloraRails */
BODY {
  font: 8pt Verdana, Geneva, Arial, Helvetica;  
  margin: 10 0 10 0px;  text-align: center;  
  background-color: #36393D; /* cinza */
  } 

#conteudo{  
  text-align: left;  
  width: 770px;  
  margin: auto; 
  }

#cabecalho{  
  background-color: #ff7400; /* laranja */  
  color: #EEEEEE; /* cinza claro */  
  font-size: 16pt;  
  font-weight: bold;  
  padding: 3 3 3 10px; 
  text-align: left;}#corpo{  
  margin: 10 0 10 0px;}#lateral{  
  width: 160px;  
  background-color: #356AA0; /* azul */  
  float: left;
  }

#lateral ul{  
  margin: 0 0 0 0px;  
  padding:  0 0 0 0px;  
  list-style: none;
  }

#lateral li{  
  background-color: #ffffcc;  
  margin: 2 2 2 2px;  
  padding: 2 2 2 2px;  
  font-weight: bold;
  }

#lateral a{  
  color: #3333cc;  
  text-decoration: none;
  }

#lateral a:hover{
  background: #999;  
  color: #fff;  
  border-color: #000 #fafafa #fafafa #000;
  }

#principal{
  background-color: #ffffff;  
  padding: 4 4 4 4px;  
  width: 460px;  
  float: left;
  }

#lado{
  width: 120px;  
  float: right;  
  background-color: #356AA0; /* Azul */
  }

#rodape{
  background-color: #cccccc;  
  padding: 3 10 3 10px;  
  text-align: right;  

  clear: both;  
  }

#direita{
  margin: 0 0 0 170px;
  }

#menu{  
  background-color: #FF7400;  
  margin: 0;  
  padding: 0 0.5em 1em 0; 
  }

#menu li{
  list-style: none;  
  display: inline;
  }

#menu li a{
  float: left;  
  width: 17.7em;  
  font: 1.00em Verdana, Arial, Helvetica;  
  background: #FF7400;  
  color: #EEEEEE;  
  text-align: center;  
  padding: 0 0.0em 0.0em 0;  
  border-width: 0.1em;  
  border-color: #fff #909090 #909090 #fff;  
  border-style: solid;  
  text-decoration: none;
  }

#menu a:hover{
  background: #999;  
  color: #fff;  
  border-color: #000 #fafafa #fafafa #000;
  }

h1 {font-size: 1.7em; color: #FF7400}
h2 {font-size: 1.5em; color: #356AA0}
h3 {font-size: 1.3em; background: #999; color: #fff}
h4 {font-size: 1.0em; color: #999}
h5 {font-size: 0.7em;}h6 {font-size: 0.5em;}

#aviso{
  background-color: #FF6347;  
  border: 0.5em solid #FF0000;  
  color: #F5F5DC;  
  font-family: Arial, Helvetica, sans-serif;  
  font-size: 12px  
  font-weight: bold; 
  padding: 0.5em 0.5em 0.5em 0.5em;  
  margin: 10px 0;
  }


/* Formatação das mensagens */

.aviso, .importante, .erro, .info{
  font-weight: bold;
  margin: 10px 10px 10px 10px;
  padding: 5px 5px 5px 27px; 
  }

.aviso{
  border: 1px solid #9C9;
  background: #e2f9e3;
  url(app/assets/images/accept.png) no-repeat 5px center;
  color: #060;
  }

.erro{
  border: 1px solid #C68484;
  background: #fcc;
  url(app/assets/images/error.png) no-repeat 5px center;
  color: #c00;
  }

.importante{
  border: 1px solid #DD0;  
  background: #ffc;  
  url(app/assets/images/exclamation.png) no-repeat 5px center;  
  color: #000}

.info{
  border: 1px solid #82c2d4;  
  background: #EBF5F8;  
  url(app/assets/images/information.png) no-repeat 5px center;  
  color: #000;
  }


th {
  font-size: 1.0em;
  color: #999;
  width: 777px;
}

td{
  font-size: 1.0em;
  background: #ffffcc;
  color:#3333cc;
}

.fieldWithErrors{
  padding: 2px;
  background-color: #ffcccc;
  display: table;
}

#ErrorExplanation{
  width: 400px;
  border:2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #fcc;
}

#ErrorExplanation h2{
  text-align: left;
  font-weight: bold;
  padding: 20px 20px 20px 20px;
  font-size: 12px;
  margin: -7px;
  background: red url(app/assets/images/exclamation.png) no-repeat 5px center;
  color: #fff;
  }

#ErrorExplanation p{
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#ErrorExplanation ul li{
  font-size: 12px;
  list-style: square;
}

/* Eliminando os sublinhados de link */
a:link {text-decoration: none}
a:visited {text-decoration: none}
a:hover {text-decoration: underline;
         color: #FF0000}
a:active {text-decoration- none}

/* Uma entrada do catalogo */
#catalogo .entrada form, #catalogo .entrada form div{
  display: inline;
}

#catalogo .entrada{
  border-top: 1px dotted #FF7400;
  font-size: 100%;
  font-family: verdana;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 10px 10px 10px;
}

#catalogo .entrada h7{
  margin-top: 10px;
  margin-bottom: 15px;
  color: #227;
  background: #ffffcc;
  font-family: sans-serif;
  font-size: 150%;
  font-weight: bold;
}

#catalogo .entrada p{
  color: #FF7400;
  font-size: 1.2em;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: sans-serif;
  font-size: 1.0em;
}

#catalogo .entrada .adicionar_no_carrinho{
  position: relative;
}

/* fim da folha de estilo */ 
